
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f9fa;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.MuiPaper-root {
    border-radius: 12px !important;
}

.MuiButton-root {
    text-transform: none !important;
    border-radius: 8px !important;
    font-weight: 500 !important;
}
